.filters {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
  .field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    min-width: 160px;

    color: hsl(0, 0%, 48%);
    
    font-size: 0.8rem;
  }
    .field input, .field select {
      width: 100%;
      height: 30px;
      
      padding: 2px 7px;

      color: var(--text-primary);

      background: hsl(0, 0%, 5%);

      border: 1px solid hsl(0, 0%, 25%);
      border-radius: 2px;
      outline: none;
    }
    .field select {
      cursor: pointer;
    }
    .field input::placeholder {
      color: hsl(0, 0%, 45%);
    }
    .field input:focus, .field select:focus {
      border-color: hsl(0, 0%, 50%);
    }