.feed {
  width: 100%;
}
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    margin-bottom: 12px;
    padding-bottom: 6px;

    border-bottom: 1px solid hsl(0, 0%, 20%);
  }
    .title {
      font-size: 1rem;
      font-weight: 400;
    }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 8px;
  }
    .message {
      color: var(--text-secondary);
      padding: 14px 0;
      text-align: center;
    }
